<div class="row mt-5">
    <div class="col-md-12">        
            <ng-content></ng-content>       
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <button class="btn btn-primary" (click)="OnChangeDate()">Change Date</button>
        <p class="mt-3">{{tdDate}}</p>
    </div>

</div>
<div class="row">
    <div class="col-md-5">
        <button class="btn btn-success"
            (click)="OnDisplayData()">
            Display Table
        </button>
    </div>
    <div class="col-md-7" *ngIf="clickValue">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
             
            </tbody>
          </table>
    </div>
</div>

