<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Akaash Education</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, tempora quia recusandae sint illum harum voluptates facilis quos consequuntur beatae?
      </p>
    </div>
  </div>
  <app-child-comp>
    <h3>Class Timing</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span>Monday - 10:30AM</span>
      </li>
      <li class="list-group-item">
        <span>Tuesday - 10:30AM</span>
      </li>
      <li class="list-group-item">
        <span>Wednesday - 10:30AM</span>
      </li>
      <li class="list-group-item">
        <span>Thursday - 10:30AM</span>
      </li>
      
    </ul>
  </app-child-comp>
  <app-new-child>
    <div class="row">
      <div class="col-md-10">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ipsam.
          </p>
      </div>
    </div>
  </app-new-child>
</div>